{:enums
 {:Vendor
  {:values [:ORACLE :MYSQL :POSTGRESQL]}}

 :objects
 {:Database
  {:fields
   {:id {:type Int}
    :vender {:type Vendor}
    :url {:type String}
    :username {:type String}
    :password {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}

  }



 :queries
 {:getConnection
  {:type (list :Database)
   :args {:id {:type Int}}
   :resolve :get-connections}}


 :mutations
 {:addConnection
  {:type :Database
   :args {:name {:type String}}
   :resolve :add-connection}

  :updateConnection
  {:type :Database
   :args {}
   :resolve :update-connection}

  :removeConnection
  {:type Boolean
   :args {:id {:type Int}}
   :resolve :remove-connection}
  }
 }
