{:enums
 {:Vendor
  {:values [:ORACLE :MYSQL :POSTGRESQL]}}

 :objects
 {:Database
  {:fields {:id {:type Int}
            :vendor {:type :Vendor}
            :url {:type String}
            :username {:type String}
            :password {:type String}
            :created_at {:type String}
            :updated_at {:type String}}}

  :Column
  {:fields {:name {:type String}
            :dataType {:type Int}
            :typeName {:type String}
            :nullable {:type Boolean}
            :autoIncrement {:type Boolean}
            :size {:type Int}
            :primaryKey {:type Boolean}}}

  :Table
  {:fields {:name {:type String}
            :columns {:type (list :Column)}}}
  }



 :queries
 {:list {:type (list :Database)
         :args {:id {:type Int}}
         :resolve :list-db}

  :meta {:type :Table
         :args {:id {:type Int}
                :schema {:type String}
                :name {:type String}
                :sql {:type String}}
         :resolve :meta-query}
 }


 :mutations
 {:add_db
  {:type :Database
   :args {:vendor {:type :Vendor}
          :url {:type String}
          :username {:type String}
          :password {:type String}}
   :resolve :add-db}

  :update_db
  {:type  :Database
   :args {:id {:type Int}
          :vendor {:type :Vendor}
          :url {:type String}
          :username {:type String}
          :password {:type String}}
   :resolve :update-db}

  :rem_db
  {:type Boolean
   :args {:id {:type Int}}
   :resolve :rem-db}}
 }
